h1 {
    color: blue;
}

body {

    text-align: center;
}

.container {

    background: yellow;
    width: 340px;
    height: 340px;
    border: 1px solid black;
    margin: 0px auto;
    display:flex;
    flex-wrap: wrap;

}

.tile {

    width: 100px;
    height: 100px;
    background: tomato;
    font-size: 66px;
    vertical-align: middle;
    text-align: center;
}