
body {
    margin: 0;
    padding: 0;
    font-family: serif;
    background-color: #8734ca83;
}


.header {
    display: flex;
    background-color: darkblue;
    color: white;
    width: 100%;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    margin-bottom: 15px;
    padding: 15px;
}

.header img {
    display: block;
    height: 60px;
    padding-top: 20.15px;
    border-radius: 4px;
  }

.wrapper {
    display: flex;
    align-items: center;
    background-color: #C3E8D7;
    flex-direction: column;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    max-width: 960px;
    min-height: 100%;
}
.one {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    flex: 1;
    margin: 10px;
    padding: 10px;
}

.one p{
    background-color: #E1F7A8;
    padding: 10px;
}

.two {
    background-color: #E1F7A8;
    padding: 10px;
    flex: 2;
    margin: 10px;
}
.one img {
    border: 1px solid black;
    border-radius: 4px;
    max-width: 100%;
    max-height: 100%;
}